<section class="add-expense-wrapper">
  <form [formGroup]="addTrip" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="date">Date<span class="kts-required">*</span></label>
          <input pInputText id="date" type="date" formControlName="date" placeholder="yyyy-mm-dd" [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['date'].errors
            }" />
        </div>
        <div class="field col" formGroupName="employeeModel">
          <label for="empId">Employee Id<span class="kts-required">*</span></label>
          <input required maxLength="4" minLength="1" pattern="^[0-9]{1,4}" pInputText id="empId" type="text"
            formControlName="empId" placeholder="Enter Employee Id" [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['empId'].errors
            }" />
        </div>
        <div class="field col">
          <label for="customerName">Trip Name<span class="kts-required">*</span></label>
          <input pInputText id="tripName" type="text" formControlName="tripName" placeholder="Enter Trip Name"
            [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['tripName'].errors
            }" />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="startDate">Start Date<span class="kts-required">*</span></label>
          <input pInputText id="startDate" type="date" formControlName="startDate" placeholder="yyyy-mm-dd" [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['startDate'].errors
            }" />
        </div>
        <div class="field col">
          <label for="endDate">End Date<span class="kts-required">*</span></label>
          <input pInputText id="endDate" type="date" formControlName="endDate" placeholder="yyyy-mm-dd" [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['endDate'].errors
            }" />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="fromLocation">From Location<span class="kts-required">*</span></label>
          <input pInputText id="fromLocation" type="text" formControlName="fromLocation" placeholder="From Location"
            [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['fromLocation'].errors
            }" />
        </div>
        <div class="field col">
          <label for="toLocation">To Location<span class="kts-required">*</span></label>
          <input pInputText id="toLocation" type="text" formControlName="toLocation" placeholder="To Location"
            [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['toLocation'].errors
            }" />
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="customerName">Description<span class="kts-required">*</span></label>
          <input pInputText id="description" type="text" formControlName="description" placeholder="Enter Description"
            [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['description'].errors
            }" />
        </div>
        <div class="field col">
          <label for="status">Status<span class="kts-required">*</span></label>
          <input pInputText id="status" type="text" formControlName="status" placeholder="Enter Status" [ngClass]="{
              'ng-invalid ng-dirty': isSubmitted && f['status'].errors
            }" />
        </div>
      </div>          
    </div>
    <div class="flex justify-content-end flex-wrap">
      <!-- <button pButton type="submit" class="p-button-primary mr-2" [disabled]="addTrip.invalid"> -->
        <button pButton *ngIf="save" type="submit" class="p-button-primary mr-2" (click)="saveTrip()">
        Submit
      </button>
      <button pButton *ngIf="update" type="submit" class="p-button-primary mr-2" (click)="UpdateTrip()">
        Update
    </button>
      <button pButton type="button" (click)="onReset()" class="p-button-warning float-right mx-2">
        Reset
      </button>
    </div>
  </form>
</section>